*.bld
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.pcf
*.srp
*.xrpt
*.bgn
*.drc
*.bit
*.drc
*.par
*.pad
*.ptwx
*.unroutes
*.xpi
*_pad.csv
*_pad.txt
*_usage.xml
*_summary.xml
xst/
xlnx_auto_0*
netlist.lst
